In [22]:
fruits={'apple','banana','cherry','dragon fruit'}
fruits
for i in fruits:
    print(i)

banana
cherry
dragon fruit
apple

In [23]:
fruits={'apple','banana','cherry','dragon fruit'}.
fruits.add('watermelon')
fruits

{'apple', 'banana', 'cherry', 'dragon fruit', 'watermelon'}

In [25]:
fruits={'apple','banana','cherry','dragon fruit'}
fruits.update({'orange','guava'})
fruits
for i in fruits:
    print(i)

cherry
dragon fruit
apple
orange
watermelon
guava
banana

In [12]:
fruits={'apple','banana','cherry','dragon fruit'}
fruits.remove('papaya')

KeyError: 'papaya'

In [13]:
fruits={'apple','banana','cherry','dragon fruit'}
fruits.discard('papaya')

In [26]:
fruits={'apple','banana','cherry','dragon fruit'}
fruits.remove('banana')
print(fruits)

{'cherry', 'dragon fruit', 'apple', 'orange', 'watermelon', 'guava'}

In [27]:
fruits={'apple','banana','cherry','dragon fruit'}
fruits.discard('cherry')
print(fruits)

{'banana', 'dragon fruit', 'apple'}

In [15]:
fruits={'apple','banana','cherry','dragon fruit'}
print(fruits)
fruits.pop()
print(fruits)

{'cherry', 'dragon fruit', 'apple', 'orange', 'watermelon', 'guava', 'banana'}
{'dragon fruit', 'apple', 'orange', 'watermelon', 'guava', 'banana'}

In [16]:
fruits={'apple','banana','cherry','dragon fruit'}
fruits.clear()
print(fruits)

set()

### Operations of Set: -



Set union

Set Intersection

Set Difference

Set Symmetric Difference

### Set union: - Union of two sets is the set of all elements from both the sets.

The union can be performed in two ways:



#### Using the “OR”( | ) operator.

In [28]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a|b

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#### Using union() method.

In [29]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [30]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### Set Intersection: - Intersection of two sets is the set of elements that are present in both the sets.

The set intersection is performed:



#### Using “AND” (&) operator,

In [32]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a&b

{4, 5, 6}

#### Using the intersection() method.

In [33]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a.intersection(b)

{4, 5, 6}

In [34]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
b.intersection(a)

{4, 5, 6}

### Set Difference: - 
Difference of set B from the set A is the set of elements that are only in A but not in B.
You can use the Difference() Method to get the Same Results.

In [35]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a-b

{1, 2, 3}

In [36]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
b-a

{7, 8, 9}

#### Using the difference() method

In [38]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a.difference(b)

{1, 2, 3}

In [39]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
b.difference(a)

{7, 8, 9}

### Set Symmetric Difference: - Set symmetric difference is the set of all elements from A and B excluding elements that are common in both.

Symmetric difference is performed:



#### Using the ^ operator,

In [40]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a^b

{1, 2, 3, 7, 8, 9}

#### Using the symmetric_difference() method.

In [42]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
a.symmetric_difference(b)

{1, 2, 3, 7, 8, 9}

In [43]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}
b.symmetric_difference(a)

{1, 2, 3, 7, 8, 9}